{
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      },
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    },
    "perfectionist": {
      "type": "line-length",
      "partitionByComment": true
    }
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": 2022
  },
  "plugins": [
    "@typescript-eslint/eslint-plugin",
    "promise",
    "prettier",
    "import",
    "unicorn",
    "security",
    "perfectionist"
  ],
  "extends": [
    "plugin:node/recommended",
    "plugin:n/recommended",
    "plugin:security/recommended-legacy",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:promise/recommended",
    "plugin:unicorn/all"
  ],
  "root": true,
  "env": {
    "es2022": true,
    "node": true
  },
  "ignorePatterns": [
    ".eslintrc",
    "**/node_modules",
    "**/build",
    "**/coverage",
    "**/documentation"
  ],
  "rules": {
    "n/exports-style": ["error", "module.exports"],
    "perfectionist/sort-objects": ["error", {
      "type": "alphabetical"
    }],
    "perfectionist/sort-interfaces": ["error"],
    "import/no-unresolved": "error",
    "prettier/prettier": "error",
    "node/no-extraneous-import": 0,
    "node/no-unsupported-features/es-syntax": [
      "error",
      {
        "ignores": ["modules", "dynamicImport"]
      }
    ],
    "node/no-missing-import": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/indent": 0,
    "@typescript-eslint/member-delimiter-style": 0,
    "@typescript-eslint/no-unsafe-member-access": 0,
    "@typescript-eslint/no-unsafe-call": 0,
    "@typescript-eslint/no-unsafe-assignment": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/no-unused-vars": ["error", {
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^_",
      "ignoreRestSiblings": true
    }],
    "unicorn/prefer-top-level-await": 0,
    "node/no-unpublished-import": 0,
    "unicorn/no-array-method-this-argument": 1,
    "unicorn/no-array-callback-reference": 0,
    "unicorn/filename-case": 0,
    "unicorn/prevent-abbreviations": 0,
    "unicorn/prefer-module": 0,
    "no-console": [
      2,
      {
        "allow": ["warn", "error", "log"]
      }
    ]
  }
}
